::-webkit-scrollbar {
  width: 8px;
  height: 15px;
}
::-webkit-scrollbar-track-piece {
  background-color: #fff;
}
.userName{
  color: #fff;
}
.bg-darkk{
  background-color: black !important;
}
.username{
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: bolder !important;

}

::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background-color: #f7ff05;
  border: 4px solid transparent;
  border-radius: 50px;
}

#hero {
  min-width: 100%;
  height: 100vh;
  background: url("../../../public/kerrie-defelice-rHJAcozKZCg-unsplash.jpg");
  /* position: relative; */
  background-size: cover;
  /* background-size:contain; */
  background-position: center;
}
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}
#hero .hero-logo {
  margin-bottom: 30px;
}
#hero h1 {
  margin: 0 0 30px 0;
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  color: #fff;
}
#hero h2 {
  color: #aeaeae;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
#hero .btn-get-started {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 30px;
  border-radius: 3px;
  margin: 10px;
  color: #fff;
  background: #7cc576;
}
#hero .btn-get-started:hover {
  transition: 0.5s;
  background: #fff;
  color: #7cc576;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
/* @media (max-width: 580px) {
  #hero {
    background-size: 100%;
    background-repeat: no-repeat;
  }
} */

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    line-height: 22px;
  }
}
